.cards{
    display: flexbox;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
}

.card{
    flex: 0 1 24;
    margin: 2px;
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
body{
    background-image: url("https://i2.wp.com/static.web-backgrounds.net/uploads/2012/08/Abstract_Background_with_Blue_Triangles.jpg");
}

h1{
    font-size: larger;
    font-style: initial;
    color: black;
}


ul{
    list-style-type: none;
    
}

ul li::before{
    content:"\25B4";
    color: red;
    display: inline-block;
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
}

table{
    position: relative;
    border: none;
    border-collapse: none;
    text-align: justify;
    opacity: 0,5;
    width: max-content;
    height: fit-content;
    padding: 30px;

    
}

a{
    color: rebeccapurple;
}